<h1>This is home!</h1>

<div data-controller="hello">
  <button 
  data-action="click->hello#nothing"
  data-hello-target="something">I do nothing!</button>
  <div data-hello-target="output"></div>
</div>
<%# <div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div> %>

<%# <div data-controller="toggle">
  <button data-action=toggle#greet">Greet</button>
  <input data-toggle-target="name" type="text">
</div> %>

