<div data-controller="hello" data-hello-number-value=4>
  <h1 data-hello-target="output"></h1>
  <button data-action="hello#clicked">CLICK ME</button>
</div>
<div data-controller="toggle">
  <button
  data-action="toggle#showSomething"
  data-toggle-target="showMessage">Show secret message</button>
  <div data-toggle-target="message"></div>
</div>

<div data-controller="text-input">
  <input type="text" data-action="input->text-input#changed" data-text-input-target="input">
  <h1 data-text-input-target="output"></h1>
</div>

<div data-controller="toggle">
  <button data-action="toggle#hideCurrentElem" data-toggle-target="hideable">click to hide me!</button>
  <button data-action="toggle#showAnotherElem" data-toggle-target="showable" hidden>show the hidden button</button>
</div>

<div data-controller="toggle">
  <button data-action="toggle#showAnotherElem">Show another element</button>
  <h1 data-toggle-target="hideable" hidden>Another element</h1>
</div>

<div data-controller="toggle">
  <form action="" data-controller="toggle">
    <input type="checkbox" name="vehicle1" id="vehicle1"
    data-action="toggle#highlightElem" data-toggle-target="highlight">
    <label for="vehicle1">I have a bike</label>
    <input type="checkbox" name="vehicle2" id="vehicle2">
    <label for="vehicle2">I have a car</label>
    <input type="submit" value="submit">
  </form>
</div>

<div data-controller="text-limit">
  <%# <input type="text" data-action="text-limit#countRemainingChars" data-text-limit-target="input"> %>
  <textarea type="text" data-action="text-limit#countRemainingChars"
  data-text-limit-target="input" cols="30" rows="10"
></textarea>
  <p data-text-limit-target="output"></p>
  <input type="submit" data-text-limit-target="disable" value="submit">
</div>